<% content_for :title, "Editing main" %>

<h1>Editing main</h1>

<%= render "form", main: @main %>

<br>

<div>
  <%= link_to "Show this main", @main %> |
  <%= link_to "Back to mains", mains_path %>
</div>
