<div id="<%= dom_id feedback_form %>">
  <p>
    <strong>Email:</strong>
    <%= feedback_form.email %>
  </p>

  <p>
    <strong>Subscription:</strong>
    <%= feedback_form.subscription %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= feedback_form.text %>
  </p>

</div>
